<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2022 Company, Inc. All rights reserved.</span>
    </div>
  <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<a href="" target="_blank"><i class="fa fa-instagram fa-2"></i> <%= image_tag 'instagram.png' =%> </a>
			<a href="" target="_blank"><i class="fa fa-twitterfa-2"></i><%= image_tag 'twitter.png' =%></a>
			<a href="" target="_blank"><i class="fa fa-linkedin fa-2"></i><%= image_tag 'facebook.png' =%></a>
    </ul>
  </footer>
</div>