body {
  margin: 0;
  padding: 0;
}


.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}

.notice, #notice {
  background: white;
  border-radius: 0.5em;
  border: solid 0.177em #0d6efd;
  color: #0d6efd;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
  }
.content {
  margin: 0;
  padding: 0;

  display: flex;
  display: -webkit-flex;
  flex-direction: column; // mobile is horizontally laid out
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  @media (min-width: 30em) {
    flex-direction: row;  // desktop is vertically laid out
    -webkit-box-orient: horizontal;
  }

  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center;  // mobile has centered nav
    @media (min-width: 30em) {
      text-align: left; // desktop nav is left-aligned
      padding: 1em;     // and needs more padding
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }
  main {
    padding: 0.5em;
  }
}

  a {
    color: dodgerblue;
    text-decoration: auto;
  }

  button, input, optgroup, select, textarea {
    background-color: rgb(243, 248, 250);
    color: #0d6efd;
    border-radius: 15px;
    border-width: 2px;
    border-color: #0d6efd;
    border-style: solid;
    display: inline-block
    }

    .card-header{
      text-align: center;
    }

    .carrinho {
      text-align: center;
    }

    .depot_form {
      padding: 0 1em;
      h1 {
        font-size: 1.99em;
        line-height: 1.41em;
        margin-bottom: 0.5em;
        padding: 0;
      }
      .field, .actions {
        margin-bottom: 0.5em;
        padding: 0;
      }
      .actions {
        text-align: center;
        padding: 1em 0;
      }
      input, textarea, select, option {
        border: solid thin #888;
        box-sizing: border-box;
        font-size: 1em;
        padding: 0.5em;
        padding-left: 10px;
        padding-right: 10px;
        //
        //
        width: 100%;
      }
      label {
        padding: 0.5em 0;
      }

      input[type="submit"] {
        background-color: #0d6efd;
        border-radius: 0.354em;
        border: solid thin #888;
        color: aliceblue;
        font-size: 1.41em;
        font-weight: bold;
        padding: 0.354em 1em;
        width: 45%;
        text-align: center;
      }
      input[type="submit"]:hover {
        background-color: rgb(5, 1, 49);
      }
      // Also, clean up the error styling
      #error_explanation {
        background-color: white;
        border-radius: 1em;
        border: solid thin red;
        margin-bottom: 0.5em;
        padding: 0.5em;
        width: 100%;
        h2 {
          background: none;
          color: red;
          font-size: 1.41em;
          line-height: 1.41em;
          padding: 1em;
        }
        ul {
          margin-top: 0;
          li {
            color: red;
            font-size: 1em;
          }
        }
      }
      .field_with_errors {
        background: none;
        color: red;
        width: 100%;
        label {
          font-weight: bold;
        }
        label::before {
          content: "! ";
        }
        input,textarea {
          background: pink;
        }
      }
    }

    .voltarhome {
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }

    nav.logged_in_nav {
      border-top: solid thin rgb(5, 26, 102);
      padding: 0.354em 0;
      margin-top: 0.354em;
      input[type="submit"] {
      // Make the logout button look like a
      // link, so it matches the nav style
      background: rgb(187, 255, 252);
      border: none;
      color: rgb(11, 2, 129);
      font-size: 1em;
      letter-spacing: 0.354em;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      }
      input[type="submit"]:hover {
      color: rgb(6, 2, 68);
      }
      }


    //página de login session//
      .form-signin {
        max-width: 330px;
        padding: 5px;
      }
      
      .form-signin .form-floating:focus-within {
        z-index: 1;
      }
      
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: auto;
        border-top-right-radius: auto;
      }
      .m-auto {
        margin: auto!important;
        text-align: center;
    }

    //Sidebar
   
   .sidebar {
     top: 0;
     bottom: 0;
     /* rtl:remove */
     left: 0;
     z-index: 100; /* Behind the navbar */
     padding: 48px 0 0; /* Height of navbar */
     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
     background-color: #888;
   }
   //

   .alert-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn-outline-primary {
  margin-top: 1rem;
  margin-left: 5rem;
}